[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/user/Desktop/Firefox.desktop]
row=3
col=0

[/home/user/Desktop/Settings.desktop]
row=4
col=0

[2024-11-09-12-29-23-00]
row=2
col=0

[Trash]
row=1
col=0

[/home/user]
row=0
col=0

